.pc-graph-container {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  text-align: center;

  @media (max-width: 650px) {
    font-size: 0.8em;
  }

  @at-root .pc-graph {
    display: flex;
    margin: 0 0 1em;
    height: 2em;
    border-radius: 2px;

    &__section {
      height: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      width: 0;

      &:nth-of-type(2n+1) {
        background: $highlight-bg-color;
      }
      &:nth-of-type(2n) {
        background: nth($color-palette, 5);
      }
    }
  }
}