body {
  font-size: $default-font-size;
  font-family: $lato-font;
  line-height: 1.2;
  color: $font-generic-color;
  position: relative;
  background: $generic-bg-color;
  scroll-behavior: smooth;
}