nav {
  position: relative;
}

section {
  position: relative;
  padding: 4em 0;
  margin-bottom: 3em !important;
}

header h1 {
  position: relative;
  color: $font-highlight-color;
  margin: 0.2em 0 !important;
  font-size: 2.5em;
}

.nav__search {
  font-size: 1.5em;
  position: relative;
  flex: 1.5;

  &-input {
    background: transparent;
    outline: none;
    border: none;
    border-bottom: 2px solid $font-generic-color;
    color: transparent;
    width: 85%;
    transition: all 0.3s ease-in-out;

    &:focus {
      color: inherit;
      border-bottom-color: $font-highlight-color;

      + .nav__search-label {
        font-size: 0.65em;
        top: -1.5em;
        color: $font-highlight-color;
      }
    }
  }

  &-label {
    position: absolute;
    top: 0;
    left: 0;
    transition: all 0.3s ease-in-out;
  }

  &-button {
    width: 10%;
    font-size: 0.9em;
    background: transparent;
    border: none;
    padding: 0;
    margin: 0;
    color: inherit;

    &:hover {
      color: $font-highlight-color;
    }

    &:focus {
      outline: none;
    }
  }
}

.about {
  padding: 0 2em;
  display: flex;
  align-items: center;

  &__img-container {
    margin-right: 1em;
    flex: 1;
  }

  &__img {
    border-radius: 50%;
    border: 0.3em solid $font-highlight-color;
    width: 10em;
    height: auto;
  }

  &__text {
    flex: 6;
    font-size: 1.5em;
    font-weight: 300;
  }
}

blockquote {
  text-align: center;
  font-size: 1.2em;
  font-style: italic;
  color: $font-highlight-color;
  font-weight: 900;
  position: relative;

  .fa[class*="quote"] {
    font-size: 0.6em;
    vertical-align: top;
  }

}

a.regular-link {
  color: $font-highlight-color;
  margin-right: 1em;

  &:hover {
    color: $font-generic-color;
  }

  &::after {
    position: absolute;
    left: 0;
    bottom: -0.2em;
    content: '';
    width: 100%;
    height: 2px;
    background: inherit;
    transform: scale(0);
    transition: transform 0.3s ease-in-out;
  }

  &:hover::after {
    background: $font-highlight-color;
    transform: scale(1);
  }

  &--no-margin {
    margin: 0;
  }
}

.tabs__pane:nth-of-type(n+10) {
  align-self: flex-end;
}

.fa-github, .fa-external-link-square {
  font-size: 1.2em;
  margin-right: 0.2em;
  vertical-align: middle;
  color: $github-brand-color;
}

.image--height-override {
  height: 30em;
  width: auto;
}

.carousel-arrow-bg-override {
  mix-blend-mode: difference;
}

footer {
  text-align: center;
  background: nth($color-palette, 1);
  padding: 1em;
}